/******test.php*******/
body{
    height: 100%;
    width:100%;}

.prontbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f4b77;
    padding: 10px 12px;
}

.all_webcam{
    height: 90%;
    width: 100%;
}

.test_all{
    height: 100%;
    width: 100%;
}

.webcam{
    position: relative;
    display: flex;
    margin:0px;
    width: 100%;
    height:640px;
}

.bjtest{
    position: absolute;
    margin:0px;
    width: 80%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}
#myVideo{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.chat_iframe{
    position: relative;
    width: 19%;
    margin-left:80%;
}
.chat_iframe iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}

/*****************/
#bjVideo{
    width:100%;
    height:100%;
}


video{
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg);
   /* Safari and Chrome */
}
/*video::-webkit-media-controls {
    display: none;
  }*/
  video::-webkit-media-controls-volume-slider {
      display:none;
  } 
  video::-webkit-media-controls-play-button {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg);
  } 
  /* 전체화면 버튼 */ 
video::-webkit-media-controls-fullscreen-button {
    display: none;
} 
/* 음소거 버튼 */ 
video::-webkit-media-controls-mute-button {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg);
} 

  video::-webkit-media-controls-time-remaining-display {
    display: none;
  } 
  video::-webkit-media-controls-current-time-display{
      display: none;
  }
  video::-webkit-media-controls-timeline {
      display: none;
  }  
/*****body야 너는 왜 여기있니 위에 있던 body 삭제함********/

/****test.php종료***********/