@font-face {
    font-family: 'Tium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/Tium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HaenamFont';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/HaenamFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a{
    text-decoration: none;
}


body{
    margin:0px;
}

.prontbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f4b77;
    padding: 10px 12px;
}

.bar_logo{
    font-size: 24px;
    color:white;
}

.bar_logo i{
    color:rgb(120, 120, 238);
}

.Login_menu{ /*test.php*/
    list-style: none;
    Color:white;
    display:flex;
    padding-left:0;
}

.Login_menu :hover{
    background-color: #d49466;
    border-radius:4px;
}
.bj{/**이게 뭐죠?? 06-01*/
    display: block;
    margin-bottom:3px;
    padding : 3px;
    border:1px solid lightgray;
    border-radius : 3px;
}

#start{/**이게 뭐죠?? 06-01*/
    width: 15%;
    background-color: skyblue;
    border-color : transparent;
    color : white;
}

.all_myPage{
    float:left;
    width: 70%;
}

.left, .right {
    float:left; /* 유동 : 왼쪽  */
    border:1px solid; /* 테두리 : 1px크기의 실선을 지닌 테두리  */
    opacity:0; /* 불투명도 : 0 */
    width: 15%;
    }
    #serviceHeader_myPage{
        display: flex;
        background: rgb(255, 255, 255);
        width: 100%;
        min-width: 1100px;
        box-sizing: border-box;
    }
    #Bugi_Logo_myPage{ /*부기 로고*/
        width: 15%;
        height:50px;
    }
    #Bugi_Logo_myPage img{ /*이미지 크기 조절을 위해 이미지를100%로잡음*/
        max-width: 100%;
        max-height: 100%;
    }


hr{
    margin-bottom: 27px;
    color: #e1e1ec;
}
.header{ /*bJ 이름 나오는 헤더**/
     padding: 35px 0 0 40px;
     box-sizing: border-box;
     height: 100%;
}
.header > p{
    font-size: 20px;
    
}


li, ul{
    list-style: none;
}

.nav-left{ /*BJStart*/
    background-color: #364153;
    display: flex;
    width: 250px;
    height: 100%; /*이거 물어봐야겠음*/
    color: #ffffff;
    box-sizing: border-box;
}
.nav-head{ /**이게 뭐죠?? 06-01*/
    width: 250px;
    height: 162px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 컨텐츠 */
.contents{
    height: 90%;
    box-sizing: border-box;
}


/* 맨 윗상단 메뉴 */
.header{
    height: 80px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

/* 컨텐츠 내용 */
.contents-body{
    clear: left;
    background-color: #e8e8f2;
    height: calc(100% - 80px);
    padding: 30px;
    box-sizing: border-box;
}

.contents-body p{
    margin-top:-3px;
}
.body-board{
    background-color: #ffffff;
    border-radius: 10px 10px;
    margin-bottom: 20px;
    padding:20px;
}
.input_board{
    padding: 10px 20px;
    box-sizing: border-box;
}
.board_head{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.input_part{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    min-height: 30px;
    box-sizing: border-box;
}
.input_part p:nth-child(1){
    font-family:'NanumSquareR';
    font-size: 15px;
    width: 130px;
    box-sizing: border-box;
    padding-top: 10px;
    margin-right: 20px;
}
.input_plus{
    width: calc(100% - 10px);
    display: flex;
    flex-flow: column nowrap;
}
.inp_right_div{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    margin:0px;
    margin-bottom: 20px;
}

.input_part_right{
    width: calc(100% - 150px);
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    margin-left:20px;
}
.inp_default input{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
}
.inp_menu input{
    padding: 0 10px;
    width: 30%;
    height: 40px;
    margin-right: 10px;
    box-sizing: border-box;
}

.inp_btn{
    position: relative;
    width:20%;
    top:40px;
    left:-83%;
}

.plus_btn{
    width: 30px;
}
.inp_tag button{
    width: auto;
    min-width: 80px;
    padding: 0 10px;
    margin: 0 10px 10px 0;
}
.input_part_right textarea{
    width: 100%;
    height: 120px;
    font-family: 'NanumSquareR';/*font-family는 import해야 사용이 된답니다*/
    font-size: 15px;
    line-height: 20px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#photo_zone{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border:1px solid #ccc;
}
.radio_zone{
    display: flex;
    flex-flow: row nowrap;
}
.radio_zone span{
    display: block;
    margin: 0 20px 20px 0;
}
.radio_zone input[type="radio"]{
    margin-right: 10px;
}
.input_part i{ /**이게 뭐죠?? 06-01*/
    color: skyblue;
}
.contents_btm{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.bjcontent{
    width: 100%;
}


select {
    width:300px;
    height: 25px;
    /*padding:5px;*/
    border:1px solid #999;
    font-family:'Nanumgothic';
    vertical-align: middle;
    border-radius:3px;
    
}

.btn{
    display: block;
    background-color: #ffffff;
    width: 80px;
    height: 40px;
    margin:auto;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.btn:hover{
    color:#ffff;
    background: #000;
}
/*******************index page*********************/

    /**index header 시작부분**/
#serviceHeader{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255);
    width: 100%;
    height: 10%;
    min-width: 1100px;
    border-bottom: 0.5px solid #cccc;
    box-sizing: border-box;
    z-index: 1500;
}
#Bugi_Logo{ /*부기 로고*/
    position: absolute;
    width: 15%;
    margin-top:-8px;
}
#Bugi_Logo img{ /*이미지 크기 조절을 위해 이미지를100%로잡음*/
    max-width: 100%;
    max-height: 100%;
}

#Bugi_Search{
    position: relative;
    background: transparent;
    width: 65%;
    padding: 12px 10px 12px 12px;
    /*border: 1px solid #000;*/
    border-radius: 10px;
    box-sizing: border-box;
    margin-left:15%;
    margin-right: 0px;
    
}
#serach_input_Wrap{
    position: relative;
    width:30%;
    min-height: 34px;
    padding-right: 38px;
    border: 1px solid #4279ff;
    border-radius: 36px;
    margin-top:8px;
}
input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    background: url("https://ifh.cc/g/w6BgSH.png") center center no-repeat;
    background-size:22px 22px;
    background-color: #9fb7f4;
    margin-top:0.1px;
    width:25px;
    height:25px;
    border-radius: 50%;
    cursor: pointer;
}

#serach_input_Wrap #Keyword{
    position: absolute;
    top:1.5px;
    left:10px;
    min-height: 28px;
    width:85%;
    outline: none;
    border: none;
    font-size:15px;
}


.reset_btn{
    position: absolute;
    display: hidden;
}

.search_btn{
    position: absolute;
    right:11px;
    top:1px;
    font-size:25px;
    background: transparent;
    border:none;
    cursor:pointer;
    color:#4279ff;
}

.serviceUtil{
    margin-top:0px;
    margin-left:0px;
    /*border:1px solid #000;*/
    float:left;
    width:23%;
    height:100%;
    display:flex;
    text-align: center;
}

.serviceUtil li{
    white-space: nowrap;
    text-align:center;
    font-size:25px;
    padding-top:20px;
    padding-bottom:20px;
    padding-right:70px;
    padding-left:10px;
    
}
.serviceUtil li:nth-child(2){
    margin-top:5px;
    font-family: 'HaenamFont';
    color:#999;
    padding-top:20px;
    padding-bottom:20px;
    padding-right:70px;
    padding-left:10px;

}
.serviceUtil li i{
    padding:5px;
}

.serviceUtil li:nth-child(2) a{
    padding: 5px;
}

.serviceUtil li i:hover{
    background-color: #eee;
    border-radius: 50%;
}

.serviceUtil li a:nth-child(1):hover{
    background-color: #eee;
    border-radius: 10px;
}
    /**index header 종료부분**/

    /***index left_pront 시작부분***/

.left_pront{
    position:fixed;
    box-sizing: border-box;
    float:left;
    top:10%;
    left:0%;
    width:15%;
    height:90%;
    border: 0.5px solid #cccc;
    border-right:0px;
    }
.left_bar_top{
    height: 40%;
    /*border: 1px solid #000;*/
}
.left_bar_top li{
    box-sizing: border-box;
    margin-left:-35px;
    margin-right: 5px;
    margin-top:10px;
    margin-bottom:30px;
    height:24%;
    /*border:0.1px solid #cccc;*/
    text-align: left;
    font-size: 25px;
    padding-left:10px;
    padding-top:12px;
}


.left_bar_top li h5{
    margin-top:-32px;
    margin-left:30px;
    font-size:25px;
}
.left_bar_top li:hover{
    background-color:#ddeeff;
    border-radius: 10px;
}

.left_bar_bottom{
    position: absolute;
    margin-top:40%;
    height: 40%;
    width: 80%;
   /* border: 1px solid #000;*/
}
.left_bar_bottom li{
    margin-left:-20%;
    margin-top:3%;
    padding: 10px 10px;
}
.left_bar_bottom li:nth-child(1){
    padding-top:30%;
}

.left_bar_bottom li a:hover{
    color: #4279ff;
}

     /***index left_pront 종료부분***/


    /***index list_container 시작부분***/
.list_container{
    position: absolute;
    left:15.1%;
    top:8.5%;
    width:84.7%;
    height: 91vh;
   /* border: 1px solid rgb(173, 22, 22);*/
}


.hot_live{
    box-sizing: border-box;
    overflow:hidden;
    width:100%;
    height:40vh;
    margin-top:10px;
    border:0.3px solid #cccc;
    border-bottom-left-radius:10px;
}

.hot_live h3{
    margin:0px;
}

.hot_broadcast{
    padding-top:40px;
    padding-left:5px;
    padding-right:5px;
    margin:0px;
    height:100%;
}

.hot_prev{
    position:absolute;
    margin-top:-7%;
    margin-left:-0.7%;
}

.hot_next{
    position: absolute;
    margin-top:-7%;
    margin-left:100%;
}

.pr1{
    border-radius: 10px;
    max-width:67%;
    max-height:60%;
}


.live{
    width: 100%;
    height: 49vh;
    border: 0.1px solid #cccc;
    border-top:0px;
    border-bottom: 0px;
    border-left: 0px;
    overflow-y:auto;
}

.live h3{
    margin:0px;
}

.live_container{
    height:92%;
    /*border:1px solid #000;*/
}

.live_broadcast{
    float:left;
    width: 33.1%;
    height:100%;
    margin:0px;
    border:0.2px solid #000;
    border-radius: 20px;
}

.pr2{
    border-radius: 10px;
    max-width:67%;
    max-height:60%;
    margin:70px;
}

     /***index list_container 종료부분***/




/*******************index page*************************/

body::-webkit-scrollbar {
    width: 10px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #bbb; /* 스크롤바의 색상 */
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: #ddd;  /*스크롤바 뒷 배경 색상*/
}
