
a{
    text-decoration: none;
    color: rgb(255, 255, 255);

}

.prontbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f4b77;
    padding: 10px 12px;
}

.bar_logo{
    font-size: 24px;
    color:white;
}

.bar_logo i{
    color:rgb(120, 120, 238);
}

.Login_menu{ /*test.php*/
    list-style: none;
    Color:white;
    display:flex;
    padding-left:0;
}

.Login_menu :hover{
    background-color: #d49466;
    border-radius:4px;
}

    
.bj{/**이게 뭐죠?? 06-01*/
    display: block;
    margin-bottom:3px;
    padding : 3px;
    border:1px solid lightgray;
    border-radius : 3px;
}

#start{/**이게 뭐죠?? 06-01*/
    width: 15%;
    background-color: skyblue;
    border-color : transparent;
    color : white;
}




/*****body야 너는 왜 여기있니 위에 있던 body 삭제함********/


body{
    height: 100%;

}

hr{
    margin-bottom: 27px;
    color: #e1e1ec;
}
.header{ /*bJ 이름 나오는 헤더**/
     padding: 35px 0 0 40px;
     box-sizing: border-box;
     height: 100%;
}
.header > p{
    font-size: 20px;
    
}


li, ul{
    list-style: none;
}

.nav-left{ /*BJStart*/
    background-color: #364153;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 920px;  /*이거 물어봐야겠음*/
    color: #ffffff;
    box-sizing: border-box;
}
.nav-head{ /**이게 뭐죠?? 06-01*/
    width: 250px;
    height: 162px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 컨텐츠 */
.contents{
    position: absolute;
    left: 250px;
    top: 80px;
    width: calc(100% - 250px);
    height: 100%;
    box-sizing: border-box;
}


/* 맨 윗상단 메뉴 */
.header{
    height: 80px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

/* 컨텐츠 내용 */
.contents-body{
    clear: left;
    background-color: #e8e8f2;
    height: calc(100% - 80px);
    padding: 30px;
    box-sizing: border-box;
}
.body-board{
    background-color: #ffffff;
    border-radius: 10px 10px;
    margin-bottom: 20px;
}
.input_board{
    padding: 10px 20px;
    box-sizing: border-box;
}
.board_head{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.input_board{
    padding: 10px 20px;
    box-sizing: border-box;
}
.input_part{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    min-height: 30px;
    box-sizing: border-box;
}
.input_part p:nth-child(1){
    font-family: 'NanumSquareR';
    font-size: 15px;
    width: 130px;
    box-sizing: border-box;
    padding-top: 10px;
    margin-right: 20px;
}
.input_plus{
    width: calc(100% - 150px);
    display: flex;
    flex-flow: column nowrap;
}
.inp_right_div{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 20px;
}
.input_part_right{
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    margin-right: 10px;
}
.inp_default input{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
}
.inp_menu input{
    padding: 0 10px;
    width: 30%;
    height: 40px;
    margin-right: 10px;
    box-sizing: border-box;
}
.plus_btn{
    width: 30px;
}
.inp_tag button{
    width: auto;
    min-width: 80px;
    padding: 0 10px;
    margin: 0 10px 10px 0;
}
.input_part_right textarea{
    width: 100%;
    height: 120px;
    font-family: 'NanumSquareR';/*font-family는 import해야 사용이 된답니다*/
    font-size: 15px;
    line-height: 20px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.photo_zone{
    min-height: 150px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
}
.radio_zone{
    display: flex;
    flex-flow: row nowrap;
}
.radio_zone span{
    display: block;
    margin: 0 20px 20px 0;
}
.radio_zone input[type="radio"]{
    margin-right: 10px;
}
.input_part i{ /**이게 뭐죠?? 06-01*/
    color: skyblue;
}
.contents_btm{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    box-sizing: border-box;
    margin-bottom: 20px;
}


select {
    width:300px;
    height: 25px;
    /*padding:5px;*/
    border:1px solid #999;
    font-family:'Nanumgothic';
    vertical-align: middle;
    border-radius:3px;
    
}

.btn{
    display: block;
    width: 80px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
    font-family: 'NanumSquareR';
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}



