@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box;}
body{
    font-family:'Electrolize', sans-serif;
    display:flex;   
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("https://ifh.cc/g/SrMJhQ.jpg") no-repeat center;
    background-size: cover;
}

body::before{
    content:"";
    position: absolute; z-index: 1;
    top: 0; right: 0; bottom: 0;  left: 0;
    background-color: rgba(0,0,0,.7);
}

.login-form{position: relative; z-index: 2;}

.int-area{
    width: 400px; position: relative;
    margin-top: 20px;}

#id{
    padding-top: 20px;
    font-size: 15px; color:#fff;
    text-align:center;
}
#cost, #info{
    padding-top: 20px;
    font-size: 20px; color:#fff;
}
#confirm{
    padding-top: 20px;
    font-size: 20px; color:#fff;
    text-align: center;
}

.int-area:first-child {margin-top: 0;}

.int-area input{
    width: 60%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #999;
    font-size: 18px; color:#fff;
    outline: none;
}
.int-area select{
    background: transparent;
    color: #fff;
    font-size: 15px;
}
#selectOption{
    padding: 5px;
    background-color: black;
}

.btn-area {margin-top:10px;}
.btn-area button{
    width: 60%; height: 40px;
    background: #166cea;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-left:10%;
}

.btn-area1 {margin-top:25px;}
.btn-area1 button{
    width: 45%; height: 40px;
    background: #166cea;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.bar_logo{
   margin-top:40px;
   text-align:center;
}
.bar_logo a{
    font-size: 32px; color: #fff;
    text-align:center;
    margin-bottom: 60px;
    text-decoration: none;
}